{% extends "core/base.html" %}
{% block content %}
{% load static %}
<section>
  <aside class="fixed top-48 left-5 w-2/12 min-h-fit flex flex-col bg-gray-300 ml-4 items-center justify-evenly p-8 rounded-xl flex-wrap">

    <!-- Search Products -->
    <div class="pb-5">
      <form class='filter-form'>
        <label for="filter" class="text-center font-bold text-xl"><h3>Search Products</h3></label>
        {% if q is not None %}
        <h3 class="text-center h-8 my-3">Searched Term:<span class="currSpan font-bold">{{q}}</span></h3>
        {% endif %}
        <input class="search text-field" type="text" name="search" autofocus />
        <div class="flex justify-evenly items-center mt-4">
          <button type="submit" class="btn">Search</button>
          <button type="reset" class="btn">Reset</button>
        </div>
      </form>
    </div>

    <!-- Add Product Link -->
    {% if user.is_authenticated %}
    <a class="btn" href="{% url 'createproduct' %}">Add products</a>
    {% endif %}
  </aside>

  <!-- Products List -->
  <div class="absolute top-28 left-96 mt-7 h-auto w-8/12 p-5 bg-gray-300 flex items-center justify-evenly rounded-xl">
    {% if category %}
    <h2 class="text-2xl mb-4">Category: {{ category }}</h2>
    {% endif %}
    {% if products %}
    <table class="table-auto w-full">
      <thead>
        <tr class="text-left">
          <th>S.N</th>
          <th>Products</th>
          <th>Unit Price</th>
          {% if user.is_authenticated %}
          <th>Edit/Delete</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ product.product_name }}</td>
          <td>Ksh.{{ product.unit_price }}</td>
          <td class="flex w-fit justify-between">
            {% if user.is_authenticated %}
            <a class="btn" href="{% url 'updateproduct' product.id %}">Edit</a>
            <a class="btn" href="{% url 'deleteproduct' product.id %}">Delete</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="p-7 bg-gray-300 w-full text-center">
      <p>Oops! No products found in this category.</p>
      {% if user.is_authenticated %}
      <a class="btn" href="{% url 'createproduct' %}">Add products</a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</section>
{% endblock content %}
