{% extends "core/base.html" %}
{% block content %}
{% load static %}
<header class="text-center pt-6 relative left-28">
  <h1 class="text-3xl font-bold">List of Products</h1>
</header>
<br />
<aside class="fixed top-48 left-5 w-2/12 min-h-fit flex flex-col bg-gray-300 ml-4 items-center justify-evenly p-8 rounded-xl flex-wrap">

  <!-- Existing Filter by Price Section -->
  <div class="pb-5">
    <form class='filter-form'>
      <label for="filter" class="text-center font-bold text-xl"><h3>Filter By Price</h3></label>
      {% if q is not None and q != '5000' %}
      <h3 class="text-center h-8 my-3">Products filtered less than: <span class="currSpan font-bold">{{q}}</span></h3>
      {% endif %}
      <input class="slider" type="range" name="filter" min="0" max="5000" value="5000" step="100" onchange="showChange(event)" autofocus />
      <div class="flex justify-evenly items-center mt-4">
        <button type="submit" class="filter-btn btn">Filter</button>
        <button class="btn" onclick="document.querySelector('.slider').value=5000">Reset</button>
      </div>
    </form>
  </div>
  
  <!-- Product List Link -->
  <a class="btn mb-3" href="{% url 'productslist' %}">Product List</a>
  {% if user.is_authenticated %}
  <a href="{% url 'createproduct' %}" class="btn">Add products</a>
  {% endif %}
</aside>

<!-- Products Display Section -->
<section class="grid md:grid-cols-4 sm:grid-cols-2 gap-4 absolute top-28 left-96 mt-7 h-auto w-8/12 p-5 overflow-hidden bg-gray-300 rounded-xl">
  {% for product in products %}
  <div class="card hover:shadow-lg">
    <img src="/media/{{ product.product_image }}" class="w-48 h-48 min-w-full" />
    <div class="m-4">
      <span class="font-bold">{{ product.product_name }}</span>
      <span class="block">Ksh.{{ product.unit_price }}</span>
    </div>
    {% if user.is_authenticated %}
    <div class="flex justify-around items-center px-4 mb-3 h-8">
      <a class="btn" href="{% url 'updateproduct' product.id %}">
        <!-- Edit Icon -->
      </a>
      <a class="btn" href="{% url 'deleteproduct' product.id %}">
        <!-- Delete Icon -->
      </a>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</section>

{% endblock content %}
